<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="250px" src="http://prodimage.images-bn.com/pimages/9780439358071_p0_v4_s1200x630.jpg" class="card-img-top" alt="...">
                        <div class="card" style="width: 18rem;">

                          <h5 class="card-title">HARRY POTTER</h5>
                          <p class="card-text">Harry Potter is a series of seven fantasy novels written by British author J. K. Rowling. The novels chronicle the lives of a young wizard, Harry Potter, and his friends Hermione Granger and Ron Weasley, all of whom are students at Hogwarts School of Witchcraft and Wizardry.</p>
                          <a href="#" class="btn btn-dark">BUY NOW</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img height="250px" src="https://images-na.ssl-images-amazon.com/images/I/714GGM7WK7L.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">2 STATES</h5>
                          <p class="card-text">The Story of My Marriage commonly known as 2 States is a 2009 novel written by Chetan Bhagat. It is the story about a couple coming from two states in India, who face hardships in convincing their parents to approve of their marriage. Bhagat wrote this novel after quitting his job as an investment banker. </p>
                          <a href="#" class="btn btn-dark">BUY NOW</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img height="250px" src="https://kbimages1-a.akamaihd.net/51b8f927-0184-48ce-8bd1-c29db15e9ce0/1200/1200/False/robinson-crusoe-456.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">ROBINSON CRUSOE</h5>
                          <p class="card-text">Robinson Crusoe is a novel by Daniel Defoe, first published on 25 April 1719. The first edition credited the work's protagonist Robinson Crusoe as its author, leading many readers to believe he was a real person and the book a travelogue of true incidents</p>
                          <a href="#" class="btn btn-dark">BUY NOW</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img height="250px" src="https://images-na.ssl-images-amazon.com/images/I/915pIVrqmVL.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">GULLIVERS TRAVELS</h5>
                          <p class="card-text">Gulliver's Travels was first published in 1726, and three centuries later it remains in full force. This famous satirical novel is both an adventure story and a devious philosophical reflection on the constitution of modern societies</p>
                          <a href="#" class="btn btn-dark">BUY NOW</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img height="250px" src="https://m.media-amazon.com/images/I/51WpnISEo-L.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">CLARISSA</h5>
                          <p class="card-text">The History of a Young Lady: Comprehending the Most Important Concerns of Private Life. And Particularly Shewing, the Distresses that May Attend the Misconduct Both of Parents and Children, In Relation to Marriage is an epistolary novel by English writer Samuel Richardson, published in 1748. </p>
                          <a href="#" class="btn btn-dark">BUY NOW</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img height="250px" src="https://ia802908.us.archive.org/BookReader/BookReaderImages.php?zip=/0/items/HalfGirlfriendChetanBhagat/Half%20Girlfriend%20-%20Chetan%20Bhagat_jp2.zip&file=Half%20Girlfriend%20-%20Chetan%20Bhagat_jp2/Half%20Girlfriend%20-%20Chetan%20Bhagat_0000.jp2&id=HalfGirlfriendChetanBhagat&scale=8&rotate=0" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">HALF GIRLFRIEND</h5>
                          <p class="card-text">Half Girlfriend is an Indian English coming of age, young adult romance novel by Indian author Chetan Bhagat. The novel, set in rural Bihar, New Delhi, Patna, and New York, is the story of a Bihari boy in quest of winning over the girl he loves</p>
                          <a href="#" class="btn btn-dark">BUY NOW</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img height="250px" src="https://images-na.ssl-images-amazon.com/images/I/51FqtXUscFL.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">FIVE POINT SOMEONE</h5>
                          <p class="card-text">What not to do at IIT is a 2004 novel written by Indian author Chetan Bhagat. The book sold over a million copies worldwide. The films 3 Idiots and Nanban are based on the book. It was also adapted into a play by the theatre company Evam</p>
                          <a href="#" class="btn btn-dark">BUY NOW</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img height="250px" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1633640897i/59237341._UY2339_SS2339_.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">400 DAYS</h5>
                          <p class="card-text">400 Days is the tenth novel and the thirteenth book overall written by the Indian author Chetan Bhagat. It is the third installment of the author's popular Keshav-Saurabh mystery series after The Girl in Room 105 and One Arranged Murde</p>
                          <a href="#" class="btn btn-dark">BUY NOW</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img height="250px" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1216107646l/3320520.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">THE 3 MISTAKES OF MY LIFE</h5>
                          <p class="card-text">The 3 Mistakes of My Life is the third novel written by Chetan Bhagat. The book was published in May 2008 and had an initial print-run of 420,000. The novel follows the story of three friends and is based in the city of Ahmedabad in western India. This is the third best seller novel by Chetan Bhagat.</p>
                          <a href="#" class="btn btn-dark">BUY NOW</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img height="250px" src="https://upload.wikimedia.org/wikipedia/en/b/b9/Girl_in_room_105.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">THE GIRL IN ROOM 105</h5>
                          <p class="card-text">The Girl in Room 105 is the eighth novel and the tenth book overall written by the Indian author Chetan Bhagat. The book became a bestseller based on prearranged sales alone. It tells about a IIT coaching class tutor who goes to wish his ex-girlfriend on her birthday and finds her murdered</p>
                          <a href="#" class="btn btn-dark">BUY NOW</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
